body{
  background-image: url('./Images/background.jpeg');
  background-attachment:fixed;
  background-blend-mode: multiply;
  background-size: cover;
  background-color: rgba(115, 115, 115, 0.6);
  z-index: -9999;
}